.contactos{
    text-align: center;
    padding-top: 100px;
}
.titulo{
    color: #fff;
    margin: 15px 0;
    font-family: Rancho ;
    letter-spacing: 2px;
}
.formulariocontacto{
    color: #fff;
    width: 600px;
    margin: auto;
    margin-bottom: 50px;
}
.formcontenido{
    font-family: Marvel ;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.formcontenido label{
    text-align: left;
    font-size: 18px;
    margin-bottom: 5px;
}
.formcontenido input{
    height: 30px;
    outline: none;
    font-size: 18px;
    padding: 0 5px;

}
.formcontenido textarea{
    resize: none;
    
}
.formulariocontacto .subir{
    margin-top: 1em;
    width: 40%;
    cursor: pointer;
    height: 40px;
    border-radius: 1px 40px 40px 40px;
    border-style:solid;
    border-color:rgb(22, 228, 255);
    background-color: #202020;
    color: white;
    font-family: marvel;
    font-size: 20px;
}
.formcontenido input,.formcontenido textarea{
    font-family: Marvel;
    font-size: 20px;
}